body{
	background-color:#090a07;
	font-family: 'Philosopher', cursive;
	
}
h2{
	font-size: 2.5em;
	padding: 0.5em;
	padding-top: 1em;
	text-align: center;
}
.navbar{
	width: 100%;
 	background-color: #090a07;
 	
 	font-size: 22px;
 	padding: 1em;
 	color: #fff;
 	position: fixed;
 	top: 0;
 	z-index: 999;
 	transition: top 0.3s;
 }  
/* .navbar.hidden{
 	display: none;
 }*/
.logoTxt {
	color: MistyRose;
	font-size: 28px;
	border: 3px inset;
	border-radius: 50%;
	padding: 8px;
	
}

.logoTxt:hover{
	-webkit-animation: flip 1s;
	animation: flip 1s ;
}


.parallax1{
	background-image: url("../images/about.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	width: 100%;	
}

.intro{
	background-color: black;
	color: white;
	opacity: 80%;
	font-weight: bolder;
	text-align: center;
    padding: 20px;
	width: 100%;
	height: 100vh;
}

.intro > h2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#toMore{
	text-align: center;
	padding: 25px;
	width: 100%;
	margin: 0 auto;
	color: white;
	position: absolute;
	font-size: 1.2em;
	font-weight: bold;
	bottom: 0;
	left: 0;
	right: 0;
}

#toMore:hover>i{
	-webkit-animation: bounceIn 1.5s;
	animation: bounceIn 1.5s ;
}


#skills{
	background-color: white;
	color:black;
}


.parallax2{
	background-image: url("../images/me.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	width: 100%;
	
}
#skillsDisplay{
	margin: auto;
	background-color: #090a07;
	width: 100%;
	padding: 2em;
	opacity: 0.85;
	margin:auto;

}

.skill{
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}	
.progress-label{
	padding: 0 2em;
	width: 8em;
	
	
}
.progress{
	width: 60%;
	margin-top: 2em;
	
	height: 3em;
}


.row{
	display: inline-flex;
	justify-content: center;
	padding: 1em;
}

#skillsDisplay>img{
	padding: 5px;
}
#skillsExplain{
	background-color: black;
	opacity: 0.85;
	width: 100%;
	
	text-align: center;
	

}

#skillsHeading{
	color: MistyRose;	
	margin: auto;


}

#designInfo{
	
	display: inline-flex;
	color: MistyRose;	
	justify-content: space-between;
	margin: auto;

}
.designCol{
	padding: 20px;
}

.parallax3{
	background-image: url("../images/laptop.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	width: 100%;

}

.worksDisplay{
	padding: 4rem;
	margin: auto;
	
}

#workHeader{
	margin: auto;
	text-align: center;
	padding: 1.5em;
	color: #090a07;
	background-color: lightgray;
	opacity: 0.9;
}

.faIcon{
	background-color: MistyRose;
	color: gray;
	font-size: 40px;
	border-radius: 50px;
	padding: 10px;
}

.faIcon:hover{
	color: #383120;
	background-color: #fdcc00;
	-webkit-animation: tada 1s;
	animation: tada 1s ;
}

.card{

	text-align: center;
	margin: 20px;
	height: 100%;

}

.card-body:hover{
	background-color: #383120;
	opacity:0.6;
	color: #fdcc00;
	border: 1px gray solid;
}


#contact{
	color: MistyRose;
	text-align: center;
	padding: 50px;
}
h3{
	border-bottom: 0.5px ridge MistyRose;
	padding: 10px;
}

.socialIcons{
	color:MistyRose;
	padding: 20px;
	font-size: 40px;
}

.socialIcons:hover{
	color: #fdcc00;
}

@media only screen and (max-width: 600px) {
 	.parallax1{
		background-image: url("../images/small.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		position: relative;
		width: 100%;

	}
}